body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.marquee-container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
}
.marquee {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    
}

.bppd-logo {
    position: absolute;
    top: 0px; 
    left: 0px; 
}
.bppd-logo img {
    width: 200px; 
    height: auto; 
}



.search-results a {
    color: #220c0c;
}

body {
    font-family: Lucida Calligraphy, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('kantor.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-text {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    color: rgb(11, 83, 94); 
}

.login-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(11, 19, 94);
}

form {
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(134, 67, 67);
    border-radius: 4px;
}

button {
    background-color: #292e33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4a5353;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
